html, body {
  position: relative;
  height: 100%;
}

body {
  width: 700px;
  margin: 0 auto;
}

#typical {
  position: absolute;
  width: 100%;
  height: 100%;
}

.column {
  position: absolute;
  text-align: center;
  font-size: 400px;
  height: 100%;
  width: 20%;
  background-image: url('./static.gif');
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#main {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: black;
  z-index: 0;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  color: white;
  text-align: center;
}

audio {
  display: none;
}

#atypical {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  font-size: 155px;
  text-align: center;
  display: none;
}