html, body { position: relative; height: 100%; }
body { width: 700px; margin: 0 auto; text-align: center; }

.centered { position: relative; top: 50%; transform: translateY(-50%); margin: 0 auto; }
.column { position: absolute; font-size: 400px; height: 100%; width: 20%; background-image: url('./../media/static.gif'); background-size: 200%;
  -webkit-text-fill-color: transparent; -webkit-background-clip: text; }

#typical { position: absolute; width: 100%; height: 100%; }
#atypical { position: absolute; height: 100%; width: 100%; background: black; color: white; font-size: 150px; display: none; }

#left { left: 0; }
#right { right: 0; }

#main { width: 200px; height: 200px; border-radius: 100px; background: black; }
h1 { font-size: 20px; color: white; font-family: 'Inconsolata'; }